<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile page</title>
</head>
<body>
    <%- include('components/header')%>
    <h3>This is Profile page</h3>
    <h3>Hello <%= user.name %></h3>
    <h3>Hello <%= user.mail %></h3>
    <h3>looping over array</h3>
    <ul>
    <% user.list.forEach((item)=>{%>
        <li><%= item %></li>
        <% })%>
    </ul>
</body>
</html>